<div class="container">
    <div class="row">
        <div class="col-md-6 order-md-last py-2">
            <h2>Leverage Machine Learning</h2>
            <p>Improve your business by applying Machine Learning techniques to gain insight and optimize your product.</p>
            <p>Edeltech helps you prepare your data, train models and deploy them so that you and your customers can benefit from them.</p>
        </div>
        <div class="col-md-6">
            <img class="img-fluid mx-auto d-block" src="{{ site.baseurl }}/assets/img/ai.png" style="height:320px;" alt="Artificial Intelligence">
        </div>
    </div>
</div>
