<div class="container">
    <div class="row">
        <div class="col-md-6 order-md-last py-2">
            <h2>Your app, cross-platform</h2>
            <p>Faster, cheaper and simpler, cross-platform applications allow you to reach your users, on their plaftorm, using a single codebase.</p>
            <p>Edeltech uses the Qt framework to build modern and responsive mobile and desktop applications.</p>
        </div>
        <div class="col-md-6">
            <img class="img-fluid mx-auto d-block" src="{{ site.baseurl }}/assets/img/app.png" style="height:320px;" alt="Application development">
        </div>
    </div>
</div>
