<div class="container">
    <div class="row">
        <div class="col-md-6 py-2">
            <h2>Accelerate your Cloud migration</h2>
            <p>Migrate any workload - application, website, database, storage, physical or virtual server, or an entire data center - from an on-premises environment, hosting facility, or other public cloud to AWS.</p>
            <p>Edeltech can help you define your entire infrastructure as code and automate the deployment by creating a CI/CD pipeline that fits your needs.</p>
        </div>
        <div class="col-md-6">
            <img class="img-fluid mx-auto d-block" src="{{ site.baseurl }}/assets/img/cloud.png" style="height:320px;" alt="Qt">
        </div>
    </div>
</div>
