<div class="container">
    <h2 class="text-center display-4">Start your journey with Edeltech</h2>
    <div class="row">
        <div class="col-md-10 offset-md-1 text-center">
            <img class="img-fluid my-4 mx-auto d-block" src="{{ site.baseurl }}/assets/img/paper-plane.svg" style="height:180px;" alt="Paper plane">
            <p class="lead">With our engineering-driven culture, strong product management approaches, expertise in software development and machine learning, we can successfully work together to build new technologies for your business.</p>
            <a class="btn btn-warning text-center" href="/contact" role="button">Contact us</a>
        </div>
    </div>
</div>
