<div class="container">
    <div class="row">
        <div class="col-6 col-sm-3">
            <img class="img-fluid mx-auto d-block py-3" src="{{ site.baseurl }}/assets/img/logos/python.svg" style="height:90px;" alt="Python">
        </div>
        <div class="col-6 col-sm-3">
            <img class="img-fluid mx-auto d-block py-3" src="{{ site.baseurl }}/assets/img/logos/aws.svg" style="height:90px;" alt="AWS">
        </div>
        <div class="col-6 col-sm-3">
            <img class="img-fluid mx-auto d-block py-3" src="{{ site.baseurl }}/assets/img/logos/tensorflow.svg" style="height:90px;" alt="Tensorflow">
        </div>
        <div class="col-6 col-sm-3">
            <img class="img-fluid mx-auto d-block py-3" src="{{ site.baseurl }}/assets/img/logos/qt.svg" style="height:90px;" alt="Qt">
        </div>
    </div>
</div>
