@tailwind base;
@tailwind components;
@tailwind utilities;

#tags-slider::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  letter-spacing: 0.025rem;
}

.prose-config {
  @apply prose-h1:leading-10 prose-h2:leading-[30px] prose-h3:leading-6 prose-h4:leading-6 prose-h1:mt-8;
}
