@tailwind base;
@tailwind components;
@tailwind utilities;

#tags-slider::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  letter-spacing: 0.025rem;
}

.prose-config {
  @apply prose-strong:font-light;
}

.border-gradient {
  position: relative;
}

.border-gradient::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background: linear-gradient(to top, #cbd5e10d 0%, #cbd5e14d 80%);
}
