@tailwind base;
@tailwind components;
@tailwind utilities;

#tags-slider::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  letter-spacing: 0.025rem;
}

.prose-config {
  @apply prose-strong:font-light;
}
