<nav class="navbar navbar-expand-lg navbar-light bg-light" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" rel="author" href="{{ site.baseurl }}/{{ site.index[page.lang] }}">
        <img class="logo" src="{{ site.baseurl }}/assets/img/logo-edeltech.png" alt=""/>
    </a>
        {%- assign page_paths = site.header_pages -%}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                {%- for path in page_paths -%}
                {%- assign my_page = site.pages | where: "path", path | first -%}
                {%- if my_page.title -%}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}">About</a>
                </li>
                {%- endif -%}
                {% endfor -%}
            </ul>
            <!--<ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/">{{ site.about[page.lang] }}</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="#projects">{{ site.projects[page.lang] }}</a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#team">{{ site.team[page.lang] }}</a>
                </li>
                <li class="nav-item">

                    <a class="nav-link" href="{{ site.baseurl }}/blog">Blog</a>
                </li>
            </ul>-->
        </div>
    </div>
</nav>
</div>
