<h2 id="contact" class="text-light text-center ">{{ site.contact[page.lang] }}</h2>
<hr class="pb-8 hr-high">
<!--<form method="POST" action="https://formspree.io/dylan.thompson@edeltech.ch">
    <div class="form-group">
        <label class="text-light" for="exampleInputEmail1">{{ site.mail[page.lang] }}</label>
        <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
    </div>
    <div class="form-group">
        <label class="text-light" for="messageInput">Message</label>
        <textarea name="message" class="form-control" id="messageInput" rows="3" placeholder=""></textarea>
    </div>
        <div class="col-lg-12 text-center">
            <button type="submit" class="btn btn-primary text-center">{{ site.send[page.lang] }}</button>
        <div>
</form>-->
<div class="row ">
    <div class="col-lg-12  pb-4">
        <div class="row justify-content-center">
            <div class="mr-4 text-lg-right">
                <img class="" src="{{ site.baseurl }}/assets/img/mail-xxl.png" width="30" alt=""/>
            </div>
            <div class="">
                <span> <a href="mailto:info@edeltech.ch?Subject={{ site.contactSubject[page.lang] }}" >{{ site.contactText[page.lang] }}</a></span>
            </div>
        </div>
    </div>
      <div class="col-lg-12">
        <div class="row justify-content-center">
            <div class="mr-4 text-right">
                <img class="" src="{{ site.baseurl }}/assets/img/phone-xxl.png" width="30" alt=""/>
            </div>
            <div class="">
                <span class="text-white"> (+41)27 565 06 08</span>
            </div>
        </div>
    </div>
