<h2 class="text-center mb-5">About us</h2>
    <h2>lorem ipsum</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fuga voluptatibus saepe voluptatem culpa adipisci doloremque officia optio praesentium, laudantium consequatur incidunt reprehenderit necessitatibus quidem autem id? Sequi quo, commodi?
    </p>
    <h2>lorem ipsum</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fuga voluptatibus saepe voluptatem culpa adipisci doloremque officia optio praesentium, laudantium consequatur incidunt reprehenderit necessitatibus quidem autem id? Sequi quo, commodi?
    </p>

