<nav class="navbar navbar-expand-lg navbar-light bg-light" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" rel="author" href="{{ site.baseurl }}/{{ site.index[page.lang] }}">
        <img class="logo" src="{{ site.baseurl }}/assets/img/logo-edeltech.png" alt=""/>
    </a>
        {%- assign page_paths = site.header_pages -%}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                {%- for path in page_paths -%}
                {%- assign my_page = site.pages | where: "path", path | first -%}
                {%- if my_page.title -%}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}">About</a>
                </li>
                {%- endif -%}
                {% endfor -%}

                <li class="nav-item">
                      <li class="nav-item dropdown">
                        {% if page.lang == 'fr'%}
                             <a class="nav-link dropdown-toggle" href="{{ site.baseurl }}/index" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-fr"> </span> Français</a>
                               <div class="dropdown-menu" aria-labelledby="dropdown09">
                                <a class="dropdown-item" href="{{ site.baseurl }}/index"><span class="flag-icon flag-icon-us"> </span>  English</a>
                            </div>
                        {% else %}
                            <a class="nav-link dropdown-toggle" href="{{ site.baseurl }}/index" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-us"> </span> English</a>
                              <div class="dropdown-menu" aria-labelledby="dropdown09">
                                <a class="dropdown-item" href="{{ site.baseurl }}/fr"><span class="flag-icon flag-icon-fr"> </span>  Français</a>
                            </div>
                        {% endif%}

                        </li>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#about">{{ site.about[page.lang] }}</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="#projects">{{ site.projects[page.lang] }}</a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#team">{{ site.team[page.lang] }}</a>
                </li>
                   <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
                <li class="nav-item">

                    <a class="nav-link" href="{{ site.baseurl }}/blog">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead text-white text-center">
    <div id="particles-js"> </div>
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="">{{ site.desc[page.lang] }}</h1>
            </div>
</header>
</div>
