<nav class="navbar navbar-expand-lg navbar-light bg-light" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" rel="author" href="{{ site.baseurl }}/{{ site.index[page.lang] }}">
        <img class="logo" src="{{ site.baseurl }}/assets/img/logo-edeltech.png" alt=""/>
    </a>

    {%- assign page_paths = site.header_pages -%}
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarResponsive">
           <ul class="navbar-nav ml-auto">
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}">About</a>
            </li>
          {%- endif -%}
        {% endfor -%}
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/blog">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<header class="masthead text-white text-center">
    <div id="particles-js">  </div>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="">{{ site.desc[page.lang] }}</h1>

  </div>
</header>
</div>

