<div class="jumbotron jumbotron-fluid my-0 pt-0 pb-3 bg-info">
  <div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-light mt-5 display-4 align-middle">We build cloud-centric applications</h1>
            <p class="text-light lead">Edeltech provides application development services to clients who want smarter solutions to their business problems.</p>
        </div>
        <div class="col-md-6">
            <img class="img-fluid mx-auto d-block" style="height:400px;" src="{{ site.baseurl }}/assets/img/teamwork.png" alt="Teamwork">
        </div>
    </div>
  </div>
</div>
