<h2 id="projects" class="text-light text-center">{{ site.projects[page.lang] }}</h2>
<hr class="pb-8 hr-high">
<div class="row text-center">

   <!-- <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
                <h3 class="card-title">{{ site.project-title-1[page.lang] }}</h3>
                <p class="card-text">{{ site.project-desc-1[page.lang] }}</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">{{ site.project-button[page.lang] }}</a>
            </div>
        </div>
    </div> -->
        <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
            <img class="card-img-top" src="https://picsum.photos/500/325?image=1071" alt="">
            <div class="card-body">
                <h3 class="card-title">{{ site.project-title-1[page.lang] }} </h3>
                <p class="card-text">{{ site.project-desc-1[page.lang] }}</p>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">{{ site.project-button[page.lang] }}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
            <img class="card-img-top" src="https://picsum.photos/500/325?image=1072" alt="">
            <div class="card-body">
                <h3 class="card-title">{{ site.project-title-2[page.lang] }} </h3>
                <p class="card-text">{{ site.project-desc-2[page.lang] }}</p>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">{{ site.project-button[page.lang] }}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
            <img class="card-img-top" src="https://picsum.photos/500/325?image=1073" alt="">
            <div class="card-body">
                <h3 class="card-title">{{ site.project-title-2[page.lang] }} </h3>
                <p class="card-text">{{ site.project-desc-3[page.lang] }}</p>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">{{ site.project-button[page.lang] }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
