    <h2 class="text-center mb-5">Our Team</h2>

    <div class="row">
          {% assign sorted = (site.team-members | sort 'rank') | reverse  %}
         {% for team-member in sorted  %}
        <div class="col-lg-3 col-sm-6 text-center mb-4 responsive-image">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{{ site.baseurl }}{{ team-member.avatar }}" alt="">
          <h3>
              <a href="{{ site.baseurl }}{{ team-member.url }}">{{ team-member.short_name }}</a><br>
                <small>{{ team-member.position }}</small>
          </h3>
          <!-- <p>{{ team-member.content | markdownify }}</p> -->
        </div>
          {% endfor %}
   </div>
