<!DOCTYPE html>

<html lang="{{ page.lang }}">
{%- include head.html -%}
<body>
    {%- include header.html -%}
    <div class="py-5">
        <div class="page-content">
            {{ content }}
        </div>
    </div>
    {%- include footer.html -%}
    <script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="{{ site.baseurl }}/assets/javascript/app.js"></script>
    <script>
   $("a[href^='#']").click(function(e) {
    e.preventDefault();

    var position = $($(this).attr("href")).offset().top - 150;

    $("body, html").animate({
        scrollTop: position
    } , 500, 'swing', );
});
    </script>
</body>
</html>
