<!DOCTYPE html>

<html lang="{{ page.lang }}">
{%- include head.html -%}

<body>
    {%- include header.html -%}
    <div class="py-5">
        <div class="container page-content">
            {{ content }}
        </div>
    </div>
    {%- include footer.html -%}
    <script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="{{ site.baseurl }}/assets/javascript/app.js"></script>
<!--    <script>
    var lang = navigator.language || navigator.userLanguage;
    if (lang.indexOf('fr') == 0)
        window.location = '/fr/';
    else
        window.location = '/en/';
    </script> -->
</body>

</html>
