---
layout: default
---
<article>


<div class="row">
    <!-- Post Content Column -->
        <div class="col-lg-12">
            <!-- Title -->
            <h1 class="mt-4">{{ page.title | escape }}</h1>
            <!-- Author -->
            <p class="lead">
                {% if page.lang == "en"%}
                by &nbsp;
                {% else if page.lang == "fr"%}
                par &nbsp;
                {% endif %}
               {% assign author = site.team-members | where: 'short_name', page.author | first %}
                {% if author %}
                  <a href="{{ site.baseurl }}{{ author.url }}">{{ author.name }}</a>
                {% endif %}
            </p>
            <hr>
            <!-- Date/Time -->
            <p>{%- assign date_format = "%b %-d, %Y" -%}{{ page.date | date: date_format }}</p>
            <hr>
            <!-- Preview Image -->
            <img class="img-fluid rounded" src="{{ page.preview-image }}" alt="">
            <hr>
            <!-- Post Content -->
            <p class="lead"> {{ content }}</p>
        </div>
    </div>
</article>
<!--   <blockquote class="blockquote">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in
              <cite title="Source Title">Source Title</cite>
            </footer>
          </blockquote> -->

       <!--   <header>
              <h1>{{ page.title | escape }}</h1>
              <p class="text-muted">
                  <time datetime="{{ page.date | date_to_xmlschema }}">
                      {%- assign date_format = "%b %-d, %Y" -%}
                      {{ page.date | date: date_format }}
                  </time>
                  {%- if page.author -%}
                  • {{ page.author }}
                  {%- endif -%}
              </p>
          </header>
          <section>
              {{ content }}
          </section> -->
