{%- include head.html -%}
<body>

    <meta content="{{ site.title }}" property="og:site_name">
    {% if page.title %}
      <meta content="{{ page.title }}" property="og:title">
    {% else %}
      <meta content="{{ site.title }}" property="og:title">
    {% endif %}
    {% if page.title %}
      <meta content="article" property="og:type">
    {% else %}
      <meta content="website" property="og:type">
    {% endif %}

    {% if page.description %}
      <meta content="{{ page.description }}" property="og:description">
    {% else %}
      <meta content="{{ site.description }}" property="og:description">
    {% endif %}

    {% if page.url %}
      <meta content="{{ site.url }}{{ page.url | relative_url }}" property="og:url">
    {% endif %}

    {% if page.date %}
      <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    {% endif %}

    {% if page.preview-image %}
      <meta content="{{ page.preview-image }}" property="og:image">
    {% else %}
      <meta content="{{ site.baseurl }}/assets/img/logo-edeltech.png" property="og:image">
    {% endif %}

    {% if page.tags %}
      {% for tag in page.tags %}
      <meta content="{{ tag }}" property="article:tag">
      {% endfor %}
    {% endif %}

    {%- include nav.html -%}

<div class="container">
    <div class="row mt-5">

        <div class="col-md-8 offset-md-2">

            <!-- Post Title -->
            <h1 class="posttitle">{{ page.title }}</h1>
            <!-- End Post Title -->

            {% assign author = site.authors[page.author] %}

            <!-- Author Box -->
            <div class="card-footer bg-white">
                <div class="wrapfooter">
                    {% if author %}
                    <span class="meta-footer-thumb">
                        {% if author.avatar %}
                        <img class="author-thumb" src="{{site.baseurl}}/{{ author.avatar }}" alt="{{ author.display_name }}">
                        {% else %}
                        <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
                        {% endif %}
                    </span>
                    <span class="author-meta">
                        <span class="post-name"><a target="_blank" href="{{ author.web }}">{{ author.display_name }}</a></span><br/>
                        {% endif %}
                        <span class="post-date">{{ page.date | date_to_string }}</span>
                    </span>
                </div>
            </div>

        </div>

        <!-- Post Featured Image -->
        {% if page.image %}
        <figure class="figure my-4">
        <img class="img-fluid" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% if page.caption %}
            <figcaption class="figure-caption text-center">{{ page.caption }}</figcaption>
            {% endif %}
        </figure>
        {% endif %}
        <!-- End Featured Image -->







        <!-- Post -->
        <div class="col-md-8 offset-md-2">

            <!-- Post Content -->
            <div class="article-post">
                <!-- Toc if any -->
                {% if page.toc %}
                    {% if page.beforetoc %}
                        <p><em>{{page.beforetoc}}</em></p>
                    {% endif %}
                    <div class="toc mt-4 mb-4 lead">
                        <h3 class="font-weight-bold">Summary</h3>
                        {% include toc.html html=content %}
                    </div>
                {% endif %}
                <!-- End Toc -->
                {{content}}
            </div>

        </div>
        <!-- End Post -->

    </div>
</div>

{%- include footer.html -%}

</body>
</html>
