name: CI

on: pull_request

jobs:
  linter:
    name: Lint Code Base
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: pnpm/action-setup@v2
        name: Install pnpm
        with:
          version: 8
          run_install: true
      - name: Run linter
        run: pnpm run lint
  build:
    name: Build Code Base
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: pnpm/action-setup@v2
        name: Install pnpm
        with:
          version: 8
          run_install: true
      - name: Build cms
        run: pnpm run build
      # Already done by vercel
      # - name: Build www
      #   run: pnpm run build:www
  component-check:
    name: Storybook
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3
      - name: 'Install Node'
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'
      - uses: pnpm/action-setup@v2
        name: Install pnpm
        with:
          version: 8
          run_install: false
      - name: Install dependencies
        run: pnpm install -w www
      - name: Check for missing stories
        id: check
        run: pnpm run storybook:check
      - name: Comment PR
        uses: thollander/actions-comment-pull-request@v2
        with:
          filePath: './storybook-check.md'
      - name: Fail if stories are missing
        if: ${{failure()}}
        run: exit 1
